#maskDiv{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  display: none;
  z-index: 100;
}
#surveyDiv{
  height: 300px;
  width: 400px;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  background-color: rgba(245,245,245,1);
  color: #444444;
  font-size: 1.5em;
  text-align: center;
  vertical-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #F8F8F8;
  padding: 10px;
  position: absolute;
  display: none;
  z-index: 101;
}
#releaseNotesDiv{
  height: 300px;
  width: 400px;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  background-color: rgba(245,245,245,1);
  color: #444444;
  font-size: .8em;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  display: none;
  z-index: 101;
}
#releaseNotesDiv h1 {
  background-color: #6699CC;
  color: #FFFFFF;
  cursor: default;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-top: auto;
}
#releaseNotesDiv li {
  color: #444444;
  cursor: default;
  font-size: 1.1em;
  padding: 5px;
  text-align: left;
}
#toc{
  border: 2px solid;
  border-radius: 5px;
  border-color: #FFFFFF;
  width:200px;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 40px;
  overflow: auto;
}
#mapDiv{
  border: 2px solid;
  border-radius: 5px;
  border-color: #F8F8F8;
  height:99%;
  position: absolute;
  left: 205px;
  bottom: 2px;
  right: 2px;
  top: 2px;
  overflow: hidden;
}
span{
  display:block;
}
#info{
  position: absolute;
  bottom: 3px;
  left: 22px;
  z-index: 50;
  color: #303030;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#tcTabs{
  cursor: pointer;
  font-size: 15px;
}
th{
  background-color: #6699CC;
  color: #FFFFFF;
  cursor: default;
  font-size: 15px;
  border-radius: 2px;
}
tr.alt td{
  color: #000000;
  background-color: #F0F0F0;
}
td{
  border-radius: 2px;
}
.Searcher{
  cursor: pointer;
}
.MeasureUnits{
  cursor: pointer;
}
#mapTab{
  display: block;
}
#searchTab{
  display: none;
}
#measureTab{
  display: none;
}
#queryTab{
  display: none;
}
#sketchTab{
  display: none;
}
#legendTab{
  display: none;
  overflow: auto;
  height: 750px;
}
#aboutTab{
  display: none;
}
.tocTables{
  cursor: default;
  font-size: 13px;
  width: 98%;
}
select {
  display: block;
  width: 98%;
  cursor: pointer;
}
button {
  cursor: pointer;
}
#btnReleaseNotes{
  background: none;
  cursor: pointer;
  font-size: 13px;
  font-family: inherit;
  color: #3333ff;
  border: none;
  margin: 0px;
  padding: 0px;
  z-index: 50;
}
#btnSurvey{
  position: absolute;
  bottom: 10px;
  left: 35px;
  z-index: 50;
}
.Overlay, .Basemaps, .SearchResult, .clickable{
  cursor: pointer;
}
#searchResults{
  position: relative;
  overflow: auto;
  min-height: initial;
  color: blue;
  font-size: 15px;
}
#queryResults{
  overflow: auto;
  height: 200px;
  color: blue;
  font-size: 15px;
}
.PRJFields {
  width: 175px;
}
.queryFields {
  width: 127px;
}
nav {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}
nav ul ul {
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
nav ul {
  background: #6699CC;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.5);*/
  padding: 0 0px;
  border-radius: 5px;
  list-style: none;
  position: relative;
  display: inline-table;
  margin: inherit;
}
nav ul:after {
  content: "";
  clear: both;
  display: block;

}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  padding: 6px 10px;
  color: #fff;
  text-decoration: none;
}
nav ul ul {
  background: #5f6975;
  border-radius: 0px 0px 5px 5px;
  padding: 0;
  position: absolute;
  top: 88%;
}
nav ul ul li {
  float: none;
  border-radius: 0px 0px 5px 5px;
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a;
  position: relative;
  font-size: 0.8em;
}
nav ul ul li a {
  padding: 2px 10px;
  color: #fff;
  border-radius: 5px;
}
nav ul ul li a:hover {
  background: #4b545f;
  border-radius: 5px;
}

#credits {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: .8em;
  z-index: 51;
  color: #666666;
  background: rgba(255,255,255,0.7);
}
.esriAttributionList {
  display: none;
}
#btnClearHighlighter {
  position: absolute;
  top: 90px;
  left: 20px;
  z-index: 30;
  width: 32px;
  height: 32px;
  border: 1px solid #57585A;
  background-color: rgb(255, 255, 184);
  color: #4C4C4C;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-family: verdana,helvetica;
  line-height: 25px;
  direction: ltr;
  outline: none;
  padding-bottom: 5px;
  background: radial-gradient(white, lightyellow, yellow);
}
.esriLegendLayerLabel td{
  display: none;
  font-weight:bold;
  color: #4C4C4C;
}
